{% extends "hello/nav.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
        <title>Profile</title>
    </head>
    <body>
        <div class="container">
            <h1>about us</h1> 
            <div class="headersection" style="margin-bottom: 30px; text-align: center;">
                <p>hello!</p>
            </div>
            <div class="supersection">
                <div class="section">
                    <p>person1</p>
                    <p>email1</p>
                </div>
                <div class="section">
                    <p>person1</p>
                    <p>email1</p>
                </div>
                <div class="section">
                    <p>person1</p>
                    <p>email1</p>
                </div>
                <div class="section">
                    <p>person1</p>
                    <p>email1</p>
                </div>
                <div class="section">
                    <p>person1</p>
                    <p>email1</p>
                </div>
            </div>
        </div>        
    </body>
</html>
{% endblock %}

