{% extends "hello/nav.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
        <title>Home Page</title>
    </head>  
    <header>
        <nav>
            <a href="/home" style="padding-left: 15px;">Home</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/aboutus/">Log Out</a>
            </div>
        </nav>
    </header>   
    <body>
        <div class="container" style="display:grid; grid-template-rows: 1fr 1fr;">
            <div id="Tanks" class="section" style="grid-row: 1; margin-top: 20px;">
                <h2>Current Tanks:</h2>
                <div id="tank-container" style="display: flex; flex-wrap:wrap;">
                    {% for tank in tanks %}
                    <div class="sensor-box" style="margin-left: 20px;">
                        <p><a href="{% url 'tankhome' tank.id %}" style="color: blue; font-size: 30px">{{ tank.name }}</a></p>
                        <p style ="color:green;">PH: {{ tank.current_ph }}</p>
                        <p style ="color:green;">Salinity: {{ tank.current_salinity }}</p>
                        <p style ="color:red;">Temp: {{ tank.current_temp }}</p>
                    </div>
                    {% endfor %}
                    <div class="sensor-box" style="margin-left: 20px;">
                        <p><a href="/addtank/" style="color: blue; font-size: 30px">Add new tank</a></p>
                    </div>
                </div>
            </div>                        
        </div> 
    </body>    
</html>
{% endblock %}
