{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <title>Home Page</title>
    </head>
    <header>
        <nav>
            <a href="/home/" style="padding-left: 15px;">noodlr</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/aboutus/">about us</a>
                <a href="/profile/">profile</a>
            </div>
        </nav>
    </header>   
    <body>
        <div class="container" style="display:grid; grid-template-rows: 1fr 1fr;">
            <div id="sensors" class="section" style="grid-row: 1; margin-top: 20px;">
                <h2>your sensors:</h2>
                <div id="sensor-container" style="display: flex; flex-wrap:wrap;">
                    <div class="sensor-box" style="margin-left: 20px;">
                        <p>Sensor ID: S1</p>
                        <p>Sensor Name: Temperature Sensor</p>
                        <p>Tanks: Tank 1, Tank 2</p>
                    </div>
                    <div class="sensor-box" style="margin-left: 20px;">
                        <p>Sensor ID: S2</p>
                        <p>Sensor Name: pH Sensor</p>
                        <p>Tanks: Tank 2, Tank 3</p>
                    </div>
                    <div class="sensor-box" style="margin-left: 20px;">
                        <p>Sensor ID: S3</p>
                        <p>Sensor Name: Salinity Sensor</p>
                        <p>Tanks: Tank 3</p>
                    </div>
                    <button id= "addSensor" type="button" style="margin-left: 20px; align-self: flex-start;">+</button>
                </div>
            </div>                        
            <div id="tanks" class="section" style="grid-row: 2; margin-top: -40px;">
                <h2 style="margin-top: -50px;">your tanks:</h2>
                <div id="tank-container" style="display: flex; flex-wrap:wrap;"></div>
            </div>            
        </div> 
        <script src="{% static 'js/home.js' %}"></script> 
    </body>    
</html>
