{% extends "hello/nav.html" %}
{% load static %}

<html>
    {% block content %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
        <title>Profile</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                    <h1 style="margin-top:185px;">your profile</h1> 
                    <div class="section">
                        <p>name: {{name}}</p>
                        <p>email: {{email}}</p>
                        <p>number of tanks: {{tanks}}</p>
                    </div>
                </div>
            </div>
        </div>   
    </body>
</html>
{% endblock %}