{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/info.css' %}"/>
        <title>Profile</title>
    </head>
    <header>
        <nav>
            <a href="/home/" style="padding-left: 15px;">noodlr</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/aboutus/">about us</a>
                <a href="/profile/">profile</a>
            </div>
        </nav>
    </header>   
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                    <h1 style="margin-top:185px;">your profile</h1> 
                    <div class="supersection">
                        <div class="section">
                            <p>name: {{name}}</p>
                            <p>email: {{email}}</p>
                            <p>number of tanks: {{tanks}}</p>
                        </div>
                        <div class="section">
                            <p>current password: *encrypted*</p>
                            <button id= "changePass" type="button">change password</button>
                        </div>
                        <div class="section">
                            <a href="/signout/" style="color: black;">sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </body>
</html>