{% extends "hello/Nav.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/tankhome.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js" integrity="sha512-m4BwvpdB4vTODb1hvkGKav8Gid9yNvFzwBmQk7JjnD17kcZMhyvGm/3JzB1x8q3yA9mxE+Yp5d5O5O5w5J5L0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title>TankHome</title>
    </head>  
    <header>
    </header>   
    <body> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="margin-top: 0">{{ tank.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="buttons-container">
                        <div class="section">
                            <a href="{% url 'tank_params' tank.id %}">Tank Parameters</a>

                        </div>
                        <div class="section">
                            <a href="{% url 'tank_data' tank.id %}">more stats</a>
                        </div>
                        <div class="section">
                            <a href="{% url 'tank_delete' tank.id %}">delete tank</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if temp_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Log Parameter</h2>
                    <form method="post" action="{% url 'log_parameter' tank.id %}">
                        {% csrf_token %}
                        <label for="value">Value:</label>
                        <input type="text" id="value" name="value" required>
                      
                        <label for="parameter_type">Parameter Type:</label>
                        <select id="parameter_type" name="parameter_type" required>
                          <option value="" disabled selected>Select parameter type</option>
                          <option value="te">Temperature</option>
                          <option value="ph">pH</option>
                          <option value="sa">Salinity</option>
                          <option value="am">Ammonia</option>
                        </select>
                      
                        <button type="submit">Submit</button>
                      </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Temperature Chart</h2>
                    <canvas id="temperatureChart" class="chart"></canvas>
                </div>
            </div>
        {% endif %}
        
        {% if ph_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>pH Chart</h2>
                    <canvas id="phChart" class="chart"></canvas>
                </div>
            </div>
        {% endif %}
        
        {% if salinity_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Salinity Chart</h2>
                    <canvas id="salinityChart"></canvas>
                </div>
            </div>
        {% endif %}
        
        </div>
        <script>
function createChart(chartId, label, timestamps, values, min, max) {
    const data = {
        labels: timestamps,
        datasets: [{
            label: label,
            data: values,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1,
            pointBackgroundColor: values.map(value => value < min || value > max ? 'red' : 'rgb(75, 192, 192)')
        }]
    };

    const customBackgroundPlugin = {
        id: 'customBackground',
        beforeDraw: (chart, args, options) => {
            const ctx = chart.ctx;
            const chartArea = chart.chartArea;
            const yAxis = chart.scales.y;

            ctx.save();
            ctx.fillStyle = 'rgba(255, 0, 0, 0.5)';

            if (yAxis.min < min) {
                const yMax = yAxis.getPixelForValue(max);
                ctx.fillRect(chartArea.left, chartArea.top, chartArea.width, yMax - chartArea.top);
            }

            if (yAxis.max > max) {
                const yMin = yAxis.getPixelForValue(min);
                ctx.fillRect(chartArea.left, yMin, chartArea.width, chartArea.bottom - yMin);
            }

            ctx.restore();
        }
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    min: 0.8 * min,
                    max: 1.2 * max
                }
            },
            plugins: {
                customBackground: {},
                annotation: {
                    annotations: [
                        {
                            type: 'box',
                            yMin: min,
                            yMax: max,
                            backgroundColor: 'rgba(255, 0, 0, 0.1)'
                        }
                    ]
                }
            }
        },
        plugins: [customBackgroundPlugin]
    };

    return new Chart(
        document.getElementById(chartId),
        config
    );
}

            
            {% if temp_enabled %}
                const temperatureTimestamps = {{ temperature_timestamps|safe }};
                const temperatureValues = {{ temperature_values|safe }};
                const temp_min = {{ temp_min }};
                const temp_max = {{ temp_max }};
                createChart('temperatureChart', 'Temperature', temperatureTimestamps, temperatureValues, temp_min, temp_max);
            {% endif %}
            
            {% if ph_enabled %}
                const phTimestamps = {{ ph_timestamps|safe }};
                const phValues = {{ ph_values|safe }};
                const ph_min = {{ ph_min }};
                const ph_max = {{ ph_max }};
                createChart('phChart', 'pH', phTimestamps, phValues, ph_min, ph_max);
            {% endif %}
            
            {% if salinity_enabled %}
                const salinityTimestamps = {{ salinity_timestamps|safe }};
                const salinityValues = {{ salinity_values|safe }};
                const salinity_min = {{ salinity_min }};
                const salinity_max = {{ salinity_max }};
                createChart('salinityChart', 'Salinity', salinityTimestamps, salinityValues, salinity_min, salinity_max);
            {% endif %}
            </script>
             
        
    </body>
</html>
{% endblock %}