
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/tankparams.css' %}"/>
        <title>Tank Parameters</title>
        <script>
            function toggleInput(parameter) {
                const minInput = document.getElementById(`${parameter}-min`);
                const maxInput = document.getElementById(`${parameter}-max`);
                const checkbox = document.getElementById(`${parameter}-checkbox`);

                minInput.disabled = !checkbox.checked;
                maxInput.disabled = !checkbox.checked;
            }
        </script>
    </head>
    <header>
        <nav>
            <a href="/" style="padding-left: 15px;">snsr</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/aboutus/">about us</a>
            </div>
        </nav>
    </header>       
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                    <h1 style="margin-top:185px;">{{ tank.name }} Parameters</h1> 
                    <form method="post" action="{% url 'tank_params' tank_id=tank.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="tank" value="{{ tank.id }}">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="form-group">
                                    <p class="{{ message.tags }}">{{ message }}</p>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <table>
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Enable/Disable</th>
                                        <th>Min acceptable value</th>
                                        <th>Max acceptable value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for parameter in parameter_list %}
                                    <tr>
                                        <td>{{ parameter.label |title }}</td>
                                        <td>
                                            <input type="checkbox" id="{{ parameter.name|lower|slugify }}_enabled" name="{{ parameter.name|lower|slugify }}_enabled" value="yes" onclick="toggleInput('{{ parameter.name|lower|slugify }}')" {% if parameters|get_enabled:parameter.name %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="{{ parameter.name|lower|slugify }}_min" name="{{ parameter.name|lower|slugify }}_min" placeholder="Min acceptable value" step="0.001" value="{{ parameter.min_value }}" {% if parameter.min_value == None %}required disabled{% endif %}/>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="{{ parameter.name|lower|slugify }}_max" name="{{ parameter.name|lower|slugify }}_max" placeholder="Max acceptable value" step="0.001" value="{{ parameter.max_value }}" {% if parameter.max_value == None %}required disabled{% endif %}/>
                                        </td>
                                    </tr>
                                    {% endfor %}                                                                  
                                </tbody>
                            </table>

                            <div class="form-group d-flex justify-content-between">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>        
    </body>
</html>
