{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/tankparams.css' %}"/>
        <title>Tank Parameters</title>
    </head>
    <header>
        <nav>
            <a href="/" style="padding-left: 15px;">snsr</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/aboutus/">about us</a>
            </div>
        </nav>
    </header>       
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto my-5">
                    <h1 style="margin-top:185px;">Tank Parameters</h1> 
                    <h2>Editing parameters for tank: {{ tank.tname }}</h2>
                    <form method="post" action="/edittank/">
                        {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="form-group">
                                    <p class="{{ message.tags }}">{{ message }}</p>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="tname" name="tname" placeholder="tank name" required/>
                            </div>
                            <div class="form-group">
                                <select id="ttype" name="ttype">
                                    <option value="" selected disabled>type of tank</option>
                                    <option value="Sa">Saltwater</option>
                                    <option value="Fr">Freshwater</option>
                                </select>
                            </div>

                            <!-- Tank parameters with Enable/Disable checkboxes and Min/Max acceptable values -->
                            <table class="parameter-table">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Enable</th>
                                        <th>Min Value</th>
                                        <th>Max Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for parameter in parameter_list %}
                                    <tr>
                                        <td>{{ parameter|title }}</td>
                                        <td>
                                            <input type="checkbox" id="{{ parameter|lower|slugify }}-checkbox" name="{{ parameter|lower|slugify }}-checkbox" value="yes">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="{{ parameter|lower|slugify }}-min" name="{{ parameter|lower|slugify }}-min" placeholder="Min" step="0.001" required/>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="{{ parameter|lower|slugify }}-max" name="{{ parameter|lower|slugify }}-max" placeholder="Max" step="0.001" required/>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            

                            <div class="form-group d-flex justify-content-between">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>        
    </body>
</html>
