{% extends "hello/Nav.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/tankhome.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        <title>TankHome</title>
    </head>  
    <header>
        <nav>
            <a href="/home" style="padding-left: 15px;">Home</a>
            <div style="float: right; padding-right: 15px;">
                <a href="/signout/">Log Out</a>
            </div>
        </nav>
    </header>   
    <body> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="margin-top: 0">{{ tank.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="buttons-container">
                        <div class="section">
                            <a href="{% url 'tank_params' tank.id %}">Tank Parameters</a>

                        </div>
                        <div class="section">
                            <p>more stats</p>
                        </div>
                        <div class="section">
                            <a href="/signout/">delete tank</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if temp_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Temperature Chart</h2>
                    <canvas id="temperatureChart"></canvas>
                </div>
            </div>
        {% endif %}
        
        {% if ph_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>pH Chart</h2>
                    <canvas id="phChart"></canvas>
                </div>
            </div>
        {% endif %}
        
        {% if salinity_enabled %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Salinity Chart</h2>
                    <canvas id="salinityChart"></canvas>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="/manualinput/">
                        {% csrf_token %}
                        <h2>manual input parameters</h2>
                        <div>
                            <input type="number" name="nitrate" id="nitrate" placeholder="nitrate">
                        </div>
                        <div>
                            <input type="number" name="nitrite" id="nitrite" placeholder="nitrite">
                        </div>
                        <div>
                            <input type="number" name="alkalinity" id="alkalinity" placeholder="alkalinity KH">
                        </div>
                        {% if tank.type == 'freshwater' %}
                        <div>
                            <input type="number" name="general-hardness" id="general-hardness" placeholder="general Hardness GH">
                        </div>
                        {% endif %}
                        <div>
                            <button type="submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function createChart(chartId, label, timestamps, values) {
                const data = {
                    labels: timestamps,
                    datasets: [{
                        label: label,
                        data: values,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                };
        
                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day'
                                }
                            }
                        }
                    }
                };
        
                return new Chart(
                    document.getElementById(chartId),
                    config
                );
            }
        
            {% if temp_enabled %}
                const temperatureTimestamps = {{ temperature_timestamps|safe }};
                const temperatureValues = {{ temperature_values|safe }};
                createChart('temperatureChart', 'Temperature', temperatureTimestamps, temperatureValues);
            {% endif %}
        
            {% if ph_enabled %}
                const phTimestamps = {{ ph_timestamps|safe }};
                const phValues = {{ ph_values|safe }};
                createChart('phChart', 'pH', phTimestamps, phValues);
            {% endif %}
        
            {% if salinity_enabled %}
                const salinityTimestamps = {{ salinity_timestamps|safe }};
                const salinityValues = {{ salinity_values|safe }};
                createChart('salinityChart', 'Salinity', salinityTimestamps, salinityValues);
            {% endif %}
        </script>
        
        
    </body>
</html>
{% endblock %}