.container {
    height: 100vh;
    border: 1px solid #3b4e3b; /* Add a thin border around the entire container */
    font-family: 'DejaVu Sans Mono', monospace;
}

/* Style the already have account link */
a {
    text-align: center;
    font-size: 14px;
    color: #6d9c6d; /* Change to a seaweed/earth tone color */
    margin-top: 30px; /* Add more space between link and form */
    font-family: 'DejaVu Sans Mono', monospace; /* Use the DejaVu Sans Mono font */
    align-items: center; /* Align the link to the center */
}

header {
    background-color: #6d9c6d; /* Same color as the create account button */
    color: white;
    font-size: 50px; /* Bigger font size */
    height: 60px; /* Bigger height */
    justify-content: space-between; /* Add space between elements */
}

/* Style the links in the header */
header a, header div a {
    color: white;
}

button {
    background-color: #6d9c6d; /* Change to a seaweed/earth tone color */
    color: white;
    border-radius: 25px;
    margin-right: 5px;
    padding: 5px 10px; /* Increase the padding for the submit button */
    font-family: 'DejaVu Sans Mono', monospace; /* Use the DejaVu Sans Mono font */
}

.section{
    margin-left: 15px;
}

.sensor-box{
    font-size: 1.2em; /* increase font size */
    border: 1px solid #6d9c6d; /* add border */
    border-radius: 5px; /* add rounded edges */
    padding: 10px; /* add padding */
    margin-bottom: 10px; /* add margin between boxes */
    align-items: center;
}

.tank-box {
    font-size: 1.2em; /* increase font size */
    border: 1px solid #6d9c6d; /* add border */
    border-radius: 5px; /* add rounded edges */
    padding: 10px; /* add padding */
    align-items: center;
    margin-bottom: 10px;
}

/* Style the text boxes */
input[type="text"], .form-select{
    width: 90%; /* Make the text boxes bigger */
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 5px; /* Increase the padding for the text boxes */
    border-color: #DAE5CC; /* Change to a seaweed/earth tone color */
    font-family: 'DejaVu Sans Mono', monospace; /* Use the DejaVu Sans Mono font */
}