header {
    background-color: #6d9c6d; /* Same color as the create account button */
    font-size: 25px; /* Bigger font size */
   
}
a{
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #3b4e3b;
    font-family: 'DejaVu Sans Mono', monospace;
    height: auto;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .supersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6d9c6d;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
  }
  
  h1 {
    font-size: 30px;
    margin: 20px 0 0 0;
    text-align: center;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DejaVu Sans Mono', monospace;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container .section {
    margin-right: 10px;
    margin-bottom: 20px;
}

.buttons-container .section:last-child {
    margin-right: 0;
}
canvas#temperatureChart {
    width: 100%;
    height: 300px;
  }
  canvas {
    width: calc(100% + 60px);
  }
